<button id="<%=id%>" type="<%=type%>" class="
        <% cssClass.forEach((css)=>{%>
            <%=css%>
        <%});%>"
        onclick="<%=clickHandler%>">
<%if(icon){%>
    <i class="fa fa-<%=icon%>"></i>
<%}%>
    <%=label%>
</button>
