<div class="modal fade" id="signUpModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header border-bottom-0">
                <h4 class="modal-title text-center w-100">
                    Sign Up
                    <%-include('./close',{id:"signUpClose"})%>
                </h4>
            </div>
            <div class="modal-body">
                <div class="d-flex flex-column text-left">
                    <div id="signUpErr" class="row" ></div>
                    <form id="signUpForm" method="POST" action="/register" onsubmit="return false">
<%-                     include('../form/text',{
                            id:"signUpEmail",
                            name:"email",
                            type:"email",
                            label:"E-mail",
                            error:"Please enter your email",
                            placeholder:"Enter your e-mail"
                        });
%>
<%-                     include('../form/text',{
                            id:"signUpConfirmEmail",
                            name:"confirmEmail",
                            type:"email",
                            label:"Confirm E-mail",
                            error:"Please confirm your e-mail",
                            placeholder:"Enter your e-mail"
                        });
%>
<%-                     include('../form/text',{
                            id:"signUpPassword",
                            name:"password",
                            type:"password",
                            label:"Password",
                            error:"Please enter your password",
                            placeholder:"Enter your password"
                        });
%>
<%-                     include('../form/text',{
                            id:"signUpConfirmPassword",
                            name:"password",
                            type:"password",
                            label:"Confirm Password",
                            error:"Passwords do not match",
                            placeholder:"Confirm your password"
                        });
%>
<%-                     include('../form/button',{
                            id:"signUpSubmit",
                            type:"submit",
                            cssClass:["btn","btn-secondary","btn-block"],
                            label:"Sign Up",
                            icon:"user-plus"
                        });
%>                   </form>
                </div>
            </div>
        </div>
    </div>
</div>