<%-include('./components/head',{title:'MTG Deck Builder|Home'})%>
<%-include('./components/navigation',{session:session})%>
<div class="body-container">
    <h1><%=deck.name%></h1>
    <%if(session.user.id === deck.user){%>
        <%-include('components/form/buttonGroup',{
            buttons:[{
                id:"editDeckButton",
                type:"button",
                cssClass:["btn","btn-secondary"],
                label:"Edit",
                icon:"pencil"
            },
            {
                id:"deleteDeckButton",
                type:"button",
                cssClass:["btn","btn-danger"],
                label:"Delete",
                icon:"minus"
            }]
        })%>
    <%}%>
</div>
<%if(deck.cards.length > 0){%>
    <%-include('components/deckContents',{deck:deck})%>
<%}else{%>
    <div class="body-container" style="text-align:center;">
        <p>
            <b>Deck is empty!</b>
        </p>
    </div>
<%}%>
<%-include('./components/foot',{scripts:['navigation','deck'],styles:['navigation','deck']})%>