<%-include('./components/head',{title:'MTG Deck Builder|Home'})%>
<%-include('./components/navigation',{session:session})%>
<div class="body-container" style="text-align: center;">
    <h1 class="mt-12 text-lg font-semibold"><%=deck.name%></h1>
</div>
<%if(deck.cards.length > 0){%>
<div class="container">
    <%if(session.user){%>
        <%if(session.user.id === deck.user){%>
            <%-include('components/editDeckForm')%>
        <%}%>
    <%}%>
    <%-include('components/deckContents',{session:session,deck:deck})%>
</div>
<%}else{%>
    <div class="body-container" style="text-align:center;">
        <p>
            <b>Deck is empty!</b>
        </p>
    </div>
<%}%>
<%-include('./components/foot',{scripts:['navigation','deck'],styles:['navigation','deck']})%>