<%-include('./components/head',{title:'MTG Deck Builder|Home'})%>
<%-include('./components/navigation',{session:session})%>
<div class="body-container" style="text-align: center;">
    <h1 class="mt-12 text-lg font-semibold"><%=deck.name%></h1>
</div>
<%if(session.user){%>
    <%if(session.user.id === deck.user){%>
        <div class="container">
            <%-include('components/editDeckForm',{deck:deck})%>
        </div>
    <%}%>
<%}%>
<div class="container">
    <%-include('components/deckContents',{session:session,deck:deck})%>
</div>
<%-include('./components/foot',{scripts:['navigation','deck'],styles:['navigation','deck']})%>