<%-include('./components/head',{title:'MTG Deck Builder|Home'})%>
<%-include('./components/navigation',{session:session})%>
<%-include('./components/modal/newDeck')%>
<div class="body-container" style="text-align:center;">
    <%-include('./components/form/button',{
    id:"newDeckShow",
    type:"button",
    cssClass:["btn","btn-secondary"],
    label:"New Deck",
    icon:"plus",
    clickHandler:""
    });%>
</div>
<%if(decks.length === 0) {%>
<div class="body-container" style="text-align:center;">
    <p>
        <b>You haven't created any deck</b>
    </p>
</div>
<%}else{%>
    <div class="flex justify-around">
        <%for(let i = 0; i < decks.length; i++){%>
            <a href="/decks/<%=decks[i].id%>">
                <div class="rounded overflow-hidden shadow-lg zoom" style="max-width: 12rem;">
                    <img src="/img/deck.jpg">
                    <div class="px-2 py-2">
                      <div class="font-bold text-l mb-2"><%=decks[i].name%></div>
                    </div>
                </div>
            </a>
        <%}%>
    </div>
<%}%>
<%-include('./components/foot',{scripts:['navigation','deck'],styles:['navigation']})%>